<md-card>
  <md-card-title>
    Info
  </md-card-title>
  <md-card-content>
    This page could contain info about the application or server; however, it is instead used to showcase some Material components.
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>
    Checkbox
  </md-card-title>
  <md-card-content>
    <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>
    Radio Group
  </md-card-title>
  <md-card-content>
    <md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
      <md-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
        {{season}}
      </md-radio-button>
    </md-radio-group>
    <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>
    Select
  </md-card-title>
  <md-card-content>
    <form>
      <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
        <md-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </md-option>
      </md-select>
      <p> Selected value: {{selectedValue}} </p>
    </form>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>
    Form
  </md-card-title>
  <md-card-content>
    <form class="example-form">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Company (disabled)" disabled value="Google">
      </md-input-container>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="First name">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Long Last Name That Will Be Truncated">
            </md-input-container>
          </td>
        </tr>
      </table>

      <p>
        <md-input-container class="example-full-width">
          <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
        </md-input-container>
        <md-input-container class="example-full-width">
          <textarea mdInput placeholder="Address 2"></textarea>
        </md-input-container>
      </p>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="example-full-width" required>
              <input mdInput placeholder="City" required>
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="State">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
              <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
            </md-input-container>
          </td>
        </tr>
      </table>
    </form>
  </md-card-content>
</md-card>